/* background color */
body{
    background-color: rgb(204, 178, 32);
}

/* top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
/* Creating the horizontal scrolling */
.news{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    /* white-space: nowrap; */
    margin: 40px;
}

/* cards */
.articles{
    
    padding: 40px;
    margin:40px;
    border: solid grey 2px;
    background-color: darkslategray;
    border-radius: 20px;
    /* display: inline-block; */
    flex: 0 0 auto;
    height: 250px;
    width: 150px;
}

/* hiding the scroll bar */
::-webkit-scrollbar {
    display: none;
  }

  p{
      color: wheat;
      white-space: pre-line;
      font-size: 17px;
  }

  /* removing the text-decoration */
a {
    text-decoration: none;
    color: wheat;

}