<!DOCTYPE html>
<html lang="en">
 <head>
  <title>News Snippets</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 </head>
 <body>
  <div class="navbar">
   <a href=#>Newsnippets</a>
   <a class ="right" href="{{ url_for('home') }}">Signout</a>
   <a class ="right" href="{{ url_for('news') }}">Home</a>
  </div>
  {% for i in range(data) %}
    <div class="heading"><h1>{{ labels[i] }}</h1></div>
    <div class="news">
    {% for articles in range(content[i]| length) %}
        <a href={{ url[i][articles] }} target="_blank">
        <div class="articles">
                <p>{{ content[i][articles][:220] }}</p>
        </div>
        </a>
    {% endfor %}
    </div>
  {% endfor %}
 </body>
</html>